@inject LconsultDBContext _context
@{ 
    var courses = _context.Courses.OrderByDescending(c => c.AverageRating)
     .Take(3).ToList();

    var reviews = _context.Reviews.OrderByDescending(c => c.Rate)
            .Take(3).ToList();
}


    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
        </div>
    </div>

    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Top Courses</h2>
                        <a asp-controller="home" asp-action="course">view all courses <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            @foreach (var items in courses)
            {
                <div class="col-md-4">
                    <div class="product-item">
                        @if (@items.Picture is null)
                        {
                            items.Picture ="noimage.png";

                        }<a href="#"><img src="~/images/courses/@items.Picture" alt=""></a>
                        <div class="down-content">
                                        <a href="#"><h4>@items.Title</h4></a>
                                        @if(items.PriceStatus is true){
                                            <h6> paid </h6>
                                        }else{
                                             <h6>free  </h6>
                                        }     
                                        <p>@items.CourseDescription</p>
                                        <ul class="stars">
                                            <li><i class="fa fa-star">@items.AverageRating</i></li>

                                        </ul>
                                        <span>Reviews (24)</span>
                                        </div>
                                        </div>
                                        </div>
                        }
        </div>
    </div>
</div> 






 <div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Recent Reviews</h2>
                    <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            @foreach (var items in reviews)
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <!--<a href="#"><img src="assets/images/product_01.jpg" alt=""></a>-->
                        <div class="down-content">
                            <!--<a href="#"><h4>Tittle goes here</h4></a>-->
                            <h4>@items.Student</h4>
                            <h6>@items.RatingDate.ToString()</h6>
                            <ul class="stars">
                                @switch (items.Rate)
                                {
                                    case 5:
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        break;
                                    case 4:
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>

                                        break;
                                    case 3:
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>

                                        break;
                                    case 2:
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>

                                        break;
                                    default:
                                        <li><i class="fa fa-star"></i></li>
                                        break;
                                }


                            </ul>
                            <p>@items.Descritipn</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div> 




   
    <!-- Login 6 - Bootstrap Brain Component -->


    
    <!-- END SEARCH RESULT -->
    <!-- Bootstrap core JavaScript -->
    <link src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
    <link src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">

        $('.btn').click(function () {
            $('.collapse-content').toggle();
        });
    </script>

   
@* </body>

</html> *@
