@model IEnumerable<Course>
@* <h2 id="results-count"> @ViewBag.recordeCount  results</h2>
 *@
@foreach (var course in Model)
{
    <div class="result-item">
        @if (course.Picture == null)
        {
            <img src="~/images/courses/noimage.png" alt="@course.Title">
        }
        else
        {
            <img src="~/images/courses/@course.Picture" alt="">
        }
        <div class="content">
            <a asp-action="details" asp-controller="course" asp-route-id="@course.CourseId"><h3>@course.Title</h3></a>
            <p class="meta">@course.InstructorFullName</p>
            <p class="meta">@course.AverageRating 
                @{
                    double fraction = @course.AverageRating.Value % 1;
                    for(int i=1;i<=course.AverageRating;i++){
                    
                            <i class="fa fa-star"></i>
                        }
                        if (fraction > 0.0)
                        {
                            <i class="fa fa-star-half-empty" style="color:red;"></i>

                        }
                    for (int i = 5; i > (int)Math.Ceiling(course.AverageRating.Value) && i > 0; i--)
                    {
                        <i class="fa fa-star-o"></i>
                    }
                            

                    

                    



                    

                }
                (@course.Reviews.Count().ToString())
                </p>
            <p class="meta">@course.CourseDuration total hours • @course.Level</p>
            <p class="price">
                @if (course.PriceStatus is false)
                {
                    <h6>paid</h6>
                }
                else
                {
                    <h6>free</h6>
                }
            </p>
        </div>
    </div>
}
