@model InstructorDetailsViewModel


@{
    Layout = "_Layout";
}



<style>

    .banner-item-1 {
        padding: 50px 0px;
        background-position: center center;
    }
</style>
<div class=" header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-1">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <form asp-action="viewprofile" method="post">
            <input hidden asp-for="@Model.InstructorId" />
        </form>
        <div class="col-md-3 text-center">
            <img src="~/images/product_02.jpg" class="rounded-circle img-fluid" alt="Instructor Image" style="margin-bottom:20px">

            <div class="btn-group-vertical w-50">

                <a href="#" class="btn btn-outline-secondary mb-2"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-outline-secondary mb-2"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-outline-secondary mb-2"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="btn btn-outline-secondary mb-2"><i class="fa fa-youtube"></i></a>
            </div>

        </div>
        <div class="col-md-9 " style="padding:15px; margin-bottom:2px;">
            <h3 class="fw-bold">@Model.FirstName  @Model.LastName</h3>
            <p>@Model.Profession</p>
            <p>@Model.Email</p>


            <p>
                <span class="text-danger">&#9733; 4.5</span> Instructor Rating
                <br />
                <span class="text-black"><i class="fa fa-calendar icon"></i></span> @Model.YearsExperince
                <br />
                <span class="text-black"><i class="fa fa-comment"></i></span> 28,707 Reviews
                <br />
                <span class="text-black"><i class="fa fa-book"></i></span> 8 Courses
                <br />
                <span class="text-black"><i class="fa fa-book"></i></span> @Model.About
                <br />
                <span class="text-black"><i class="fa fa-male icon"></i></span> @Model.Gender

            </p>


        </div>


    </div>

        <partial name="_InstructorCoursesPartial" model="@Model.Course"></partial>

</div>






@section Scripts {
    <script type='text/javascript'>
        var myLink = document.querySelector('a[href="#"]');
        myLink.addEventListener('click', function (e) {
            e.preventDefault();
        });</script>
}

