@using static WebApplication2.ViewModels.PagenationViewModel
@model PaginatedList<Course>

@{
    var photoPath = "imgaes";
   
}






@{
    Layout = "_Layout";
}
<style>



    .result-item {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        margin-right:20px;
        background-color: white;
    }

        .result-item img {
            border-radius: 10px;
            width: 150px;
            max-width: 100%;
            height: auto;
            margin-right: 15px;
        }

        .result-item .content h3 {
            margin: 0;
            color: #333;
        }

        .result-item .content .meta {
            font-size: 14px;
            color: gray;
            margin-bottom: 10px;
        }

        .result-item .price {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

    .footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 40px 20px;
        margin-top: 40px;
    }

        .footer img {
            margin: 0 10px;
            height: 30px;
            width: 30px;
        }

    @@media (max-width: 992px) {
        .result-item {
            flex-direction: column;
            align-items: flex-start;
        }

            .result-item img {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

        header {
            text-align: center;
        }

        .filter-toggle {
            display: block;
        }

        .sidebar {
            border-right: none;
        }
    }

    .text-purple {
        color: #6f42c1;
    }

    .banner-item-1 {
        padding: 50px 0px;
        background-position: center center;
    }


</style>


<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-1">
        </div>
    </div>
</div>
<!-- BEGIN SEARCH RESULTf -->
<div class="col-md-12 my-3 container-fluid" >

    
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                <h3 class="grid-title"><i class="fa fa-filter"></i>Filter @ViewBag.categoryName by </h3>
                        <hr>
                @* <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group"> *@


                @{
                    int n = 0;
                }
                @foreach (var subCategory in ViewBag.subCategories)
                {
                    n++;

                        
                    <a  asp-action="FilterBySubCategory" asp-route-categoryId="@(subCategory.CategoryId)" asp-route-subCategoryId="@(subCategory.SubId)">
                        <button class="btn" id="danger-outlined-@n" style="text-align:start;word-break:keep-all;background-color:rgba(244, 239, 239, 1);margin-bottom:10px;border-left:solid black 5px;"><h5>@subCategory.SubName</h5></button>
                        
                               
                    </a>
                    
                    @* 
                            <div class="container-fluid"> 
                                <div class="">
                            <a class="newlink" asp-action="FilterBySubCategory" asp-route-categoryId="@(subCategory.CategoryId)" asp-route-subCategoryId="@(subCategory.SubId)"><input type="radio" name="subCategoryId">@subCategory.SubName</a>
                        </div>
                            </div> *@
                        }
                @* </div> *@

                    </div>
                </div>
                <div class="col-lg-9">
@*                     <div class="row mb-4">
                        <div class="col-md-6">
                            <button class="btn btn-light">
                                Filter <span id="filter-count">0</span>
                            </button>
                        </div>
                        <div class="col-lg-12 text-right align-content-end" style="margin-right:0px">
                            <select class="custom-select" ;">
                                <option value="most-relevant">
                                    Sort by Most Relevant
                                </option>
                            </select>
                            <a href="#"
                               class="btn btn-link text-purple d-none"
                               id="clear-filters">Clear filters</a>
                        </div>
                    </div> *@
            <h2 id="results-count">@ViewBag.CategoryRecordCount results</h2>
                    <div id="course-list">


                        @foreach (var items in Model)
                        {
                    
                    <div class="result-item">
                        @if (items.Picture is null)
                        {
                            <img src="~/images/courses/noimage.png" alt="">

                        }
                        <img src="~/images/courses/@items.Picture" alt="">
                        <div class="content">
                            <a asp-action="details" asp-controller="course" asp-route-id="@items.CourseId"><h3>@items.Title</h3></a>
                                    <p class="meta">
                                        @*  ASP.NET Core 6, 7 & 8 | ASP.NET Core Projects |
                                    Bootcamp | Advanced | Interview Questions | Web API |
                                    MVC *@
                                        @items.TopicsCovered
                                    </p>
                                    <p class="meta">
                                        @items.InstructorFullName <br />
                                    <p class="meta">
                                            @items.AverageRating
                                            @{
                                                double fraction = @items.AverageRating.Value % 1;
                                                for (int i = 1; i <= items.AverageRating; i++)
                                                {

                                                <i class="fa fa-star" style="color:red;"></i>
                                                }
                                                if (fraction > 0.0)
                                                {
                                                <i class="fa fa-star-half-empty" style="color:red;"></i>

                                                }
                                                for (int i = 5; i > (int)Math.Ceiling(items.AverageRating.Value) && i > 0; i--)
                                                {
                                                <i class="fa fa-star-o" style="color:red;"></i>
                                                }


                                            }
                                        (@items.Reviews.Count())
                                    </p>
                                    </p>
                                    <p class="meta">
                                        @* 82 total hours • 402 lectures • All Levels *@
                                        @items.CourseDuration • @items.Level
                                    </p>
                                    <p class="price">
                                        @if (items.PriceStatus is true)
                                        {
                                            <h6> paid </h6>
                                        }
                                        else
                                        {
                                            <h6>free  </h6>
                                        }
                                    </p>
                                </div>
                            </div>
                        }


                    </div>
            @{
                var CategoryId = Model?.FirstOrDefault()?.CategoryId ?? 0;
            }
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" asp-action="Details" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-categoryId="@(CategoryId)">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                            <a class="page-link" asp-action="Details" asp-route-pageNumber="@i" asp-route-categoryId="@(CategoryId)">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" asp-action="Details" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-categoryId="@(CategoryId)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

                <!-- END FILTERS -->
                <!-- BEGIN RESULT -->
                <div class="col-md-9 my-3">
                    <div class="padding">
                        <div class="row">
                            <!-- BEGIN TABLE RESULT -->
                            
                            <!--kjuuuggygy-->
                            <!-- BEGIN PAGINATION -->
                                          <!-- END PAGINATION -->
                        </div>
                        <!-- END RESULT -->




                </div>
                </div>
                </div>
                </div>
             
          

      @section Scripts{
    <script>
        $('.btn').click(function () {
            $('.collapse-content').toggle();
        });
    </script>
      }                                    