@model CategoryViewModel

@{
    var photoPath = "imgaes";
}





@* <!DOCTYPE html>
<html lang="en">
f
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Learn consult</title>


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" >



    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/site1.css" rel="stylesheet">
    <link href="~/css/site2.css" rel="stylesheet">
    <link href="~/css/site3.css" rel="stylesheet">
    <link href="~/css/site4.css" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet">



</head>


<body>

                    <!-- ***** Preloader Start ***** -->
                    <div id="preloader">
                        <div class="jumper">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <!-- ***** Preloader End ***** -->

    <!--gtrfrsesrdrr-->

                    <!-- Header -->
              <header class="">
              <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                  <a class="navbar-brand" asp-action="index">
                    <h2 ><em>L</em>earn Consult</h2>
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="nav-item" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <li><a class="dropdown-item" asp-controller="home" asp-action="Category">category.</a></li>

                          <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Another action</a></li>
                          <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Something else here</a></li>
                        </ul>
                      </li>

                        <li class="text-end pe-4 me-4 border-dark search-btn">
                            <div class="search-form">
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <input type="search" class="form-control border-0 rounded-pill" name="search-input" value="" placeholder="Search Here" required="" />
                                            <button><i class="fa fa-search btn"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item ">
                        <a class="nav-link" href="index.html">For Instructors
                        </a>
                      </li>

                      <li class="nav-item">
                            <a asp-controller="home" asp-action="Login" class="nav-link">Login</a>
                      </li>
                      <li class="nav-item">
                            <a asp-controller="home" asp-action="SignUp" class="nav-link">Sign Up</a>
                      </li>
                    </ul>

                    </div>
                  </div>

              </nav>
            </header> *@

@{
    Layout = "_Layout";
}
<style>



    .result-item {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        margin-right:20px;
        background-color: white;
    }

        .result-item img {
            border-radius: 10px;
            width: 150px;
            max-width: 100%;
            height: auto;
            margin-right: 15px;
        }

        .result-item .content h3 {
            margin: 0;
            color: #333;
        }

        .result-item .content .meta {
            font-size: 14px;
            color: gray;
            margin-bottom: 10px;
        }

        .result-item .price {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

    .footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 40px 20px;
        margin-top: 40px;
    }

        .footer img {
            margin: 0 10px;
            height: 30px;
            width: 30px;
        }

    @@media (max-width: 992px) {
        .result-item {
            flex-direction: column;
            align-items: flex-start;
        }

            .result-item img {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

        header {
            text-align: center;
        }

        .filter-toggle {
            display: block;
        }

        .sidebar {
            border-right: none;
        }
    }

    .text-purple {
        color: #6f42c1;
    }

    .banner-item-1 {
        padding: 50px 0px;
        background-position: center center;
    }


</style>


<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-1">
        </div>
    </div>
</div>
<!-- BEGIN SEARCH RESULTf -->
<div class="col-md-12 my-3" >

    
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <h2 class="grid-title"> @Model.categoryName</h2>
                        <hr>

                       @foreach(var subCategory in Model.subCategories ){
                            <div class="container-fluid">
                                <a class="newlink">@subCategory.SubName  </a>
                            </div>
                        }


                    </div>
                </div>
                <div class="col-lg-9">
@*                     <div class="row mb-4">
                        <div class="col-md-6">
                            <button class="btn btn-light">
                                Filter <span id="filter-count">0</span>
                            </button>
                        </div>
                        <div class="col-lg-12 text-right align-content-end" style="margin-right:0px">
                            <select class="custom-select" ;">
                                <option value="most-relevant">
                                    Sort by Most Relevant
                                </option>
                            </select>
                            <a href="#"
                               class="btn btn-link text-purple d-none"
                               id="clear-filters">Clear filters</a>
                        </div>
                    </div> *@
                    <h2 id="results-count">5,296 results</h2>
                    <div id="course-list">


                        @foreach (var items in Model.courses)
                        {
                            <div class="result-item">
                                @if (items.Picture is null)
                                {
                                    <a href="#"><img src="~/images/courses/noimage.png" alt=""></a>

                                }<a href="#"><img src="~/images/courses/@items.Picture" alt=""></a>
                                <div class="content">
                                    <h3>@items.Title</h3>
                                    <p class="meta">
                                        @*  ASP.NET Core 6, 7 & 8 | ASP.NET Core Projects |
                                    Bootcamp | Advanced | Interview Questions | Web API |
                                    MVC *@
                                        @items.TopicsCovered
                                    </p>
                                    <p class="meta">
                                        @items.InstructorFullName <br />
                                    <p class="meta">
                                            @items.AverageRating
                                            @{
                                                double fraction = @items.AverageRating.Value % 1;
                                                for (int i = 1; i <= items.AverageRating; i++)
                                                {

                                                <i class="fa fa-star" style="color:red;"></i>
                                                }
                                                if (fraction > 0.0)
                                                {
                                                <i class="fa fa-star-half-empty" style="color:red;"></i>

                                                }
                                                for (int i = 5; i > (int)Math.Ceiling(items.AverageRating.Value) && i > 0; i--)
                                                {
                                                <i class="fa fa-star-o" style="color:red;"></i>
                                                }


                                            }
                                        (3, 666)
                                    </p>
                                    </p>
                                    <p class="meta">
                                        @* 82 total hours • 402 lectures • All Levels *@
                                        @items.CourseDuration • @items.Level
                                    </p>
                                    <p class="price">
                                        @if (items.PriceStatus is true)
                                        {
                                            <h6> paid </h6>
                                        }
                                        else
                                        {
                                            <h6>free  </h6>
                                        }
                                    </p>
                                </div>
                            </div>
                        }


                    </div>
                    
                </div>

                <!-- END FILTERS -->
                <!-- BEGIN RESULT -->
                <div class="col-md-9 my-3">
                    <div class="padding">
                        <div class="row">
                            <!-- BEGIN TABLE RESULT -->
                            
                            <!--kjuuuggygy-->
                            <!-- BEGIN PAGINATION -->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- END PAGINATION -->
                        </div>
                        <!-- END RESULT -->




                </div>
                </div>
                </div>
                </div>
             
          

      @section Scripts{
    <script>
        $('.btn').click(function () {
            $('.collapse-content').toggle();
        });
    </script>
      }                                    