@model WebApplication2.PaginatedListNew<Course>

@{
    Layout = "_aAdminLayout";
}
<partial name="_NotificationPartial"></partial>

<div class="col-lg-9">
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-5">
                <h4 class="page-title">Courses</h4>

            </div>
            <div class="col-7">
                <div class="text-end upgrade-btn">
                    @*  <a href="https://www.wrappixel.com/templates/xtremeadmin/" class="btn btn-primary text-white"
                    target="_blank">Upgrade to Pro</a> *@
                    <a href="@Url.Action("AddCourse", "Course",new{area =""})" role="button" class="btn btn-primary float-right"
                       style="color: #fff;
                                    background-color: #007bff;
                                    border-color: #007bff;
                                    box-shadow: none; margin-left:100px;">
                        <i class="fa fa-plus"></i> Add Course
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="course-list">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Picture</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price Status</th>
                    <th scope="col">Status</th>
                    <th scope="col">Addition Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td style="width:10%; height:10%;" data-label="Picture">
                            @if (course.Picture is null)
                            {
                                course.Picture = "noimage.png";
                            }
                            <a asp-action="details" asp-controller="course" asp-route-id="@course.CourseId">
                                <img src="~/images/courses/@course.Picture" alt="" class="rounded-circle img-fluid" style="margin-bottom:12px;">
                            </a>
                        </td>
                        <td data-label="Title">@course.Title</td>
                        <td data-label="Price Status">
                            @if (course.PriceStatus is true)
                            {
                                <span class="badge bg-secondary">Paid</span>
                            }
                            else
                            {
                                <span class="badge bg-success">Free</span>
                            }
                        </td>
                        <td data-label="Status">@(course.Status ? "Accepted" : "Pending")</td>
                        <td data-label="Addition Date">@course.AddingDate</td>
                        <td data-label="Actions">
                            <a href="@Url.Action("EditableDetails", "Course", new { id = course.CourseId ,area=""})" class="btn btn-light btn-action">View</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="course" asp-route-pageNumber="@(Model.PageIndex - 1)"> < Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="course" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="course" asp-route-pageNumber="@(Model.PageIndex + 1)">Next > </a>
            </li>
        </ul>
    </nav>
</div>

